.wavesurfer-region {
    border-radius: 5px;
    background-color: randomColor(.1)

}

.wavesurfer-handle {
    background-color: black;
}

/* .form {
    background-color: none !important
} */

.wave-timeline {
    height: auto
}

.wave {
    background-color: yellow;
}

region.wavesurfer-region:before {
    content: attr(data-region-label);
    position: absolute;
    top: 0;
}